.weather-forecast {
  text-align: center;
  margin-top: 20px;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-date {
  font-size: 13px;
}
